.login-form {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
 
  }
  
  .inicio {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    margin-top: 0px;
    margin-bottom: 20px;
  }

  .login-form h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .form-group input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    background-color: #e9ecef; 
    border: 1px solid #ccc; 
  }
  
  .button-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 13px;
  }
 
  
  .btn-primary {
    padding: 5px 50px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    background-color: #104c8d;
    color: white;
    
  }
  
  .btn-secondary {
    padding: 5px 50px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    background-color: #e75c5d;
    color: rgb(0, 0, 0);
    
  }
  .btn-secondary:hover {
    padding: 5px 50px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    background-color: #d9534f; 
    color: white; 

  }

  


  footer {
    margin-top: 20px;
    text-align: center;
    font-size: 14px;
    color: #666;
  }
  

.error-msg {
    color: #ca303f;
    margin-top: 10px;
    font-size: 15px;
    text-align: center;
    font-weight: bold;
  }
  
  .success-message {
    color: #28a745;
    margin-top: 10px;
    text-align: center;
  }
  