.robot-list {
    text-align: center;
    margin: 20px;
  }
  
  .banner-img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
  }
  
  table {
    margin: 0 auto;
    width: 80%;
  }
  
  footer {
    margin-top: 20px;
  }
  