.App {
  text-align: center;
}

.banner-img {
  max-width: 100%;
  height: auto;
  width: 60%;
  margin: 20px auto;
}

.login-form-container {
  max-width: 400px;
  margin: 20px auto; 
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
  color: white;
}

.btn-secondary {
  background-color: #e75021; 
  border-color: #000000;
  color: white;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
